### 11번

a = "3"
b = "2"
a+b= ?
질문이 이것인데 문자의 합이므로 
a+b = "32"이다.

In [1]:
a = "3"
b = "2"
x = a+b
print(x)

32

### 12번

s = "hell"
t = "python"

ex) hello! python

In [2]:
s = "hello"
t = "python"

print(s + "!"+ " " + t)

hello! python

### 13번

print("hi"*3)의 결과를 예상하라

hi 세번이 출력된다.

In [4]:
print("hi"*3)

hihihi

### 14번

화면에 '-'를 80개 출력해라.

In [7]:
print('-'*80)

for i in range(0, 80):
    print('-', end = '')

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

### 15번

변수에 다음과 같은 문자열이 바인딩 되어있다.

t1 = "python"

t2 = "java"

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력하라.

ex) python java python java python java python java

In [11]:
t1 = "python"
t2 = "java"
print((t1+' '+ t2+ ' ')*4)

python java python java python java python java

### 16번

LG전자 주식을 10주 보유학 있다.

금일 종가가 20,000원일 경우 총 평가 금액을 화면에 출력하라.

In [12]:
today_lg = 20000
have_lg = 10

print(today_lg*have_lg)

200000

### 17번

실행 결과 예측

2+2*3

예측 결과 : 8

In [13]:
print(2+2*3)

8

### 18번

a = 128

print(type(a))

<class 'int'>

a가 "132"일 때 바인딩 된 값은?

a = "132"

예측결과: str

In [14]:
a = "132"
print(type(a))

<class 'str'>

### 19번

문자열 '729'를 정수로 변환

In [16]:
num = '729'
num_new = int(num)

print(num_new, type(num_new))

729 <class 'int'>

### 20번

정수 100을 문자열 '100'으로 변환하라.

In [17]:
int_num = 100
str_num  = str(int_num)
print(str_num, type(str_num))

100 <class 'str'>