### python 300

문제 참고: https://wikidocs.net/7026

### 61번

다음 코드의 결괏값에 대해 예측하여라

interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']

interest_1 = interest_0

interest_1[0] = 'Naver'

print(interest_0)

print(interest_0)의 결과는 다음과 같을 것이다.

['Naver', 'LG전자', 'SK Hynix']

In [1]:
interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']

interest_1 = interest_0

interest_1[0] = 'Naver'

print(interest_0)

['Naver', 'LG전자', 'SK Hynix']

### 이유

interest_1 = interest_0 ==> 리스트가 복사되는 것이 아닌, 새로운 이름이 하나 더 추가된 개념.

즉, interest_1과 interest_0은 같은 리스트를 가리키고 있게 된다.

그래서 둘 중 하나를 수정하면, 나머지 하나도 수정되기 때문에 같은 값을 출력

### 62번

다음 코드의 결괏값에 대해 예측하여라

interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']

interest_1 = interest_0[:2]

interest_1[0] = 'Naver'

print(interest_0)

print(interest_0)의 결과는 다음과 같을 것이다.

['삼성전자', 'LG전자', 'SK Hynix']

In [2]:
interest_0 = ['삼성전자', 'LG전자', 'SK Hynix']

interest_1 = interest_0[:2]

interest_1[0] = 'Naver'

print(interest_0)

['삼성전자', 'LG전자', 'SK Hynix']

### 이유
리스트의 슬라이싱은 리스트를 복사해서 생성하게 된다.

그래서 interest_1과 interest_0은 서로 다른 리스트를 가리킴.

둘 중 하나를 수정해도 다른 하나에는 영향을 끼지치 않음

### 63번

my_variable 이름의 비어있는 튜플을 만들라

In [8]:
my_variable =()

### 64번

다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1, 2, 3)

t[0] = 'a'

Traceback (most recent call last):
  
  File "<pyshell#46>", line 1, in <module>

    t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

튜플은 하나의 요소의 값을 변경 할 수 없음

그래서 튜플의 0번 자리의 값인 1을 'a'로 바꿀 수 없음.

### 65번

숫자 1 이 저장된 튜플을 생성하라.

In [10]:
my_tuple =(1,)

type(my_tuple)

tuple

tuple 안에 하나의 요소만 집어넣을 경우

my_tuple = (1)을 하고 type(my_tuple)을 하면 tuple이 아닌 int가 출력된다.

하나의 요소만 집어넣을 경우, my_tuple=(1, ) 이러한 형식을 갖춰야 tuple로 읽힘

### 66번

아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4

In [11]:
t = 1, 2, 3, 4

type(t)

tuple

확인해본 결과 tuple이 할당된다.

### 67번

변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

In [12]:
t = ('a', 'b', 'c')

T =('A', 'b', 'c')

t = T

print(t)

('A', 'b', 'c')

In [14]:
t = ('a', 'b', 'c')

t = (t[0].upper(), t[1], t[2])

print(t)

('A', 'b', 'c')

### 68번
다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [18]:
interest =  ('삼성전자', 'LG전자', 'SK Hynix')
print(type(interest))
interest = list(interest)
print(type(interest))

<class 'tuple'>
<class 'list'>

### 69번

다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [20]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(type(interest))
interest = tuple(interest)
print(type(interest))

<class 'list'>
<class 'tuple'>

### 70번

아래 코드의 실행 결과를 예측하라

my_tuple = (1, 2, 3)

a, b, c = my_tuple

print(a + b + c)

In [23]:
my_tuple = (1, 2, 3)

a, b, c = my_tuple

print(a , b , c)
print(a+b+c)

1 2 3
6

my_tuple = (1, 2, 3)

a, b, c = my_tuple

두번째 줄 코드는 언패킹 코드라고 한다.

첨들어보는데

a = my_tuple[0]

b = my_tuple[1]

c = my_tuple[2]

이를 간단하게 처리하는 코드라고 한다. 

주의해야할 점은 오른쪽 데이터 수와 왼쪽 변수의 수가 일치해야한다는 점.